<!DOCTYPE html>
<html lang="">
  <head>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" charset="utf-8">
    <meta charset="UTF-8">
    <title>Add to the list</title>
  </head>
  <body>
    <section class="wrapper">
    <h2 class="textCentre">Add a Task</h2>
    <form action='newItem' method="post" enctype="multipart/form-data">
      <label for="task">Task:</label>
      <input type="text" id="task" name="task">
      <br>
      <br>
      <label for="id">List Id:</label>
      <input type="text" id="id" name="id">
      <input type="submit" value="Add">
    </form>
  </section>
  </body>
</html>
