<!DOCTYPE html>
<html lang="">
  <head>
    <script src='../static/js/jquery-3.6.0.js'></script>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" charset="utf-8">
    <style>
      ul {
        padding: 0;
      }
    </style>
    <meta charset="UTF-8">
    <title>Incoming Payments</title>
    <script>
      function box(id){
        console.log(id);
        var userans = confirm("If User has paid you the expected amount, please continue");
        if (userans == true) {
          $.ajax({
            url: "/removePayee",
            type: "POST",
            data: {id:id},
            success: function(data){
              alert("Successfully confirmed payment");
              location.reload()
            }
          })
        }
        else{
          $.ajax({
            url: "/falsePayment",
            type: "POST",
            data: {id:id},
            success: function(data){
              alert("Removed User payment request. They will have to raise another request to check");
              location.reload()
            }
          })
        }
        let idArray = []
        var element = document.getElementsByTagName('li')
        for (let i = 0; i < element.length; i++) {
          idArray.push(element[i].firstChild.id)
        }
      }

    </script>
  </head>
  <body>
    <section class="wrapper">
    <h2 class="textCentre">Here are your incoming payments</h2>
    {% for payees in billsPaid%}
    <ul>
    {% for bills in allUserBillsRaised %}
      {% if payees.bill_id == bills.id %}
        <li><input type="button" onclick="box({{payees.id}})" id="{{payees}}" value="{{payees.name}}"> Expected Amount = $ {{payees.cost}}</li>
        <br>
      {% endif %}
    {%endfor%}
    {% else %}
        <h3 class="textCentre">No incoming payments</h3>
    {%endfor%}
    </ul>

    <form action="process" method="get">
      <button class="button">Back</button>
    </form>
  </section>
  </body>
</html>