<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Bill-Software</title>
        <link rel="stylesheet" href="../static/css/main.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <section class = "wrapper">
            <img src ="/static/BS.jpeg" class="logo" alt="logo">
            <h1 class="textCentre">Welcome To My Bill-Software</h1>
            <h3 class="textCentre">Split bills your way!</h3>

            <p class="textCentre">If you want to go to login click the button below!</p>

            <form action="login" method="get">
                <button class="button">Login</button>
            </form>
            <p class="textCentre" ><a href="register">Sign up</a> now!</p>
        </section>
    </body>
</html>
