<!DOCTYPE html>
<html lang="">
  <head>
    <link rel="stylesheet" href="static/css/main.css" type="text/css"
    charset="utf-8">
    <meta charset="UTF-8">
    <title>Login Page</title>
  </head>

  <body>
    <section class="wrapper">
      <img src ="/static/BS.jpeg" class="logo" alt="logo">
        <h1 class="textCentre">Login Here</h1>



        <form action='checkLogin' method="post">
          <label for="username"><h3>Username:</h3></label>
          <input type="text" id="username" name="username">

          <label for="password"><h3>Password:</h3></label>
          <input type="password" id="password" name="password">
          <input type="submit" value="Login">

    </section>
  </body>

</html>
